<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/posts.css">
    <title>Document</title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

        <section class="content" style="padding-top: 40px">
            <% if (posts.length > 0) { %>
                <% posts.forEach(post => { %>

                    <article class="singlepost">
                        <div class="toSinglepost" data-id="<%= post.id %>">
                            <div class="header-section">
                                <div class="header-section-1">
                                    <div class="site-logo">
                                        <img class="header-image" src="images/usericon.png" />
                                        <!--  add user pic src     -->
                                    </div>
                                </div>
                                <div class="header-section-2">
                                    <time><%= post.datetime %></time>
                                </div>
                            </div>

                            <div class="middlepart">
                                <% if (post.image.length > 0) { %>
                                    <img src="images/<%= post.image %>" width="100%" id="postImage" />
                                    <% } else { %>
                                        <% } %>
                                            <h5>
                                                <%= post.title %>
                                            </h5>
                                            <% if (post.body.length > 0) { %>
                                                <p>
                                                    <%= post.body %>
                                                </p>
                                                <% } else { %>
                                                    <% } %>
                            </div>

                        </div>
                        <div class="bottom-part">

                            <div class="post-like">
                                <button class="likePost" onclick="likePost(this)" data-id="<%= post.id %>" data-likes="<%= post.likes %>">
                                    <img class="myimage" src="images/like1.png" alt="like" />
                                </button>
                            </div>

                            <div class="nrOfLikes">
                                <p id="id<%= post.id %>">
                                    <%= post.likes %>
                                </p>
                            </div>
                        </div>
                    </article>

                    <% }) %>
                        <% } else { %>
                            <p>You did not post anything!</p>
                            <% } %>
        </section>

        <%- include('../partials/footer.ejs') %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript">
                $('.toSinglepost').click(function() {
                    let id = $(this).data('id');
                    window.location.replace('/singlepost/' + id);

                });

                function likePost(tag) {
                    let id = $(tag).attr('data-id');
                    let likes = $(tag).attr('data-likes');
                    let likesId = 'id' + id
                    document.getElementById(likesId).innerHTML = parseInt(likes) + 1;
                    const endpoint = `/posts/` + id + `/` + likes;
                    fetch(endpoint, {
                        method: 'PUT',
                    }).then(window.Location.href = '/posts')
                    tag.disabled = true;
                }
            </script>
</body>

</html>