<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <title>Single Post</title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

        <section class="content">
            <article class="singlepost" style="margin-top: 40px;">
                <div class="header-section">
                    <div class="header-section-1">
                        <div class="site-logo">
                            <img class="header-image" src="/images/usericon.png" />
                            <!--  add user pic src     -->
                        </div>
                    </div>
                    <div class="header-section-2">
                        <time><%= posts.datetime %></time>
                    </div>
                </div>

                <div class="middlepart">
                    <% if (posts.image.length > 0) { %>

                        <img src="/images/<%= posts.image %>" width="100%" id="postImage" />
                        <% } else { %>
                            <% } %>
                                <h5>
                                    <%= posts.title %>
                                </h5>
                                <% if (posts.body.length > 0) { %>
                                    <p>
                                        <%= posts.body %>
                                    </p>
                                    <% } else { %>
                                        <% } %>
                </div>

                <div class="bottom-part">
                    <div class="nrOfLikes">
                        <p>
                            Likes:
                            <%= posts.likes %>
                        </p>
                    </div>
                </div>
            </article>
            <div class="deleteContainer">
                <a class="delete" data-del="<%= posts.id %>">Delete</a>
            </div>
        </section>
        <%- include('../partials/footer.ejs') %>
            <script>
                const delreq = document.querySelector('a.delete');
                delreq.addEventListener('click', (e) => {
                    const endpoint = `/posts/${delreq.dataset.del}`;
                    fetch(endpoint, {
                        method: 'DELETE',
                    }).then(window.location.href = '/posts')
                });
            </script>
</body>

</html>